@page
@model Landstar.Identity.Pages.Account.Manage.VerifyPhoneNumberModel
@inject IStringLocalizer<SharedResource> Localizer
@inject IHtmlLocalizer<SharedResource> HtmlLocalizer


@{
  ViewData["Title"] = Localizer["Verify Phone Number"];
}
<h4>@ViewData["Title"]</h4>
<h5>@ViewData["Status"]</h5>
<hr />

@Localizer["VerifyPhoneNumberMessage"]

<form method="post" class="form-horizontal">
  <input asp-for="PhoneNumber" type="hidden" />

  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="Code" class="col-md-2 control-label"></label>
    <div class="col-md-10">
      <input asp-for="Code" class="form-control" />
      <span asp-validation-for="Code" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
    </div>
  </div>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
