@using Landstar.Identity.Extensions

@inject IStringLocalizer<SharedResource> Localizer
@{

  string name = null;
  if (!true.Equals(ViewData["signed-out"]))
  {
    name = Context.User?.GetDisplayName2();
  }
}

<div class="nav-page">
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" asp-area="" asp-page="/Index">
      <span class="navbar-brand">
        @{
          if (Context.Request.Host.ToString().Contains("landstarblue"))
          {
            <text>
              <img src="~/images/lstr-logo-blue.png" class="icon-banner" alt="Landstar Blue Logo">

            </text>
          }
          else
          {
            <text>
              <img src="~/images/logo-large.png" class="icon-banner" alt="Landstar Logo">


            </text>
          }
        }


      </span>
    </a>
    <ul class="navbar-nav mr-auto">
      @if (!string.IsNullOrWhiteSpace(name))
      {
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>

          <div class="dropdown-menu">
            <a class="dropdown-item" asp-page="/Account/Logout/Index">@Localizer["Logout"]</a>
          </div>
        </li>
      }
      
        
         
        
      
    </ul>
  </nav>
</div>
