@page
@model Landstar.Identity.Pages.Account.AccessDeniedModel
@inject IStringLocalizer<SharedResource> Localizer
 
@{
}
<div class="row">
    <div class="col">
        <h1>@Localizer["Access Denied"]</h1>
        <p>@Localizer["You do not have permission to access that resource"].</p>
    </div>
</div>