@page
@model Landstar.Identity.Pages.Account.ConfirmEmailChangeModel
@inject IStringLocalizer<SharedResource> Localizer

@{
  ViewData["Title"] = Localizer["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.RedirectUri != null) { 
<p>
    <a href="@Model.RedirectUri">@Localizer["Click Here to Return to your Application"]</a>
</p>
}