@page
@using Landstar.Identity.Pages.Account
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
  If your account was found you will receive an email. Please check your email to reset your password.
</p>


