@page
@model ResetPasswordConfirmationModel

@{
  ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>

  @if (Model.RedirectUri != null)
  {
    <text>
      Your password has been reset.   You will automatically be redirected in <span id="counter">5</span> Seconds.
       <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("@Model.RedirectUri");
            }
        }, 1000);
    </script>
      <a href="@Model.RedirectUri"> click here to Return if you are not automatically redirected.....  </a>.

    </text>
  }
  else
  {
    <text>
      Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.

    </text>
  }
</p>
